.main_bottom
	z-index 20
	margin-top 20px
	background #fff
	position fixed
	bottom 0
	height 57px
	line-height 85px
	width 100%
	&:after
		position absolute
		content ''
		top 0
		height 1px
		left 0
		width 100%
		background #F0F0F0
	ul
		width 100%
		height 100%			
		display flex
		.main_li
			background url(../img/yuyue/bottom_nor_icon04@2x.png)no-repeat center 8px
			background-size 25px
			text-align center
			display inline-block
			flex 1
			color #b9b9b9
		.main_li1
			background url(../img/yuyue/bottom_nor_icon03@2x.png)no-repeat center 8px
			background-size 25px
		.main_li2
			background none
		.main_li3
			background url(../img/yuyue/bottom_nor_icon02@2x.png)no-repeat center 8px
			background-size 25px
			position relative
			.xinxinum
				font-size 10px
				position absolute
				width 15px
				height 15px
				border-radius 50%
				top 3px 
				right 15px
				line-height 15px
				background #ec461f
				color #fff
		.main_li4
			background url(../img/yuyue/bottom_nor_icon01@2x.png)no-repeat center 8px
			background-size 25px
		.active
			background url(../img/yuyue/bottom_press_icon04@2x.png)no-repeat center 8px
			background-size 25px
			color #ec461f
.main_home
	width 58px
	margin-top 3px
	height 50px
	background url(../img/yuyue/bottom_icon05@2x.png)no-repeat 
	background-size cover
	border-radius 5px		