<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../public/css/index/index.css"/>
		<title>个人信息</title>
	</head>
	<body>
		<header class="index_top">
			<span class="index_top_area">上海</span>
			<span class="index_top_name">项目名</span>
		</header>
		<div class="index_search">
			<span class="search_details">挑好房，上活力矩阵</span>
		</div>
		<header class="index_top index_top1">
			<span class="index_top_area">上海</span>
			<div class="index_search index_search1">
				<span class="search_details search_details1">挑好房，上活力矩阵</span>
			</div>
		</header>
		
		<div class="index_slider">
			<ul class="slider_width">
				<li class="slider_list slider_list1"></li>
				<li class="slider_list slider_list2"></li>
				<li class="slider_list slider_list3"></li>
				<li class="slider_list slider_list4"></li>
			</ul>
			<div class="slider_circle">
				<span class="circle_li circle_li_active"></span><span class="circle_li"></span><span class="circle_li"></span><span class="circle_li"></span>
			</div>
		</div>
		
		<div class="index_select">
			<div class="index_select_top">
				<div class="index_select_list">
					<span>区域</span>
					<div class="index_select_list_hidden">
						<div class="index_select_list_left">
							<ul class="area_list">
								<li >全部</li>
								<li>悯行</li>
								<li class="area_list_active">浦东</li>
								<li>嘉定</li>
								<li>宝山</li>
								<li>闸北</li>
								<li>松江</li>
								<li>青浦</li>
								<li>徐汇</li>
								<li>普陀</li>							
							</ul>
							<ul class="area_list_detail">
								<li class="all">全部</li>
								<li>八佰伴</li>
								<li>川沙</li>
								<li>花木</li>
								<li>金桥</li>
							</ul>
						</div>
						<div class="index_select_list_bg"></div>
					</div>					
				</div>				
				<div class="index_select_list">
					<span>面积</span>	
				</div>
				<div class="index_select_list">
					<span>单价</span>
				</div>
				<div class="index_select_list"><span>更多</span></div>
				<i class="index_select_bg"></i>
			</div>
			
		</div>
		<div class="index_show_bottom">
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>					
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span><span class="index_show_right_commission">佣金：1个月</span>
				</div>
			</div>
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>
					
				</div>
			</div>
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>
				</div>
			</div>
			<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>

				</div>
			</div>
				<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>

				</div>
			</div>
				<div class="index_show">
				<div class="index_show_img"></div>
				<div class="index_show_right">
					<div class="index_show_right_title">东方金融中心</div>
					<p class="index_show_right_dizhi">浦东-八佰伴</p>
					<div class="index_show_right_busniess">商务中心</div>
					<span class="index_show_right_price">&yen;7</span><span>元/平米/天起</span>

				</div>
			</div>
		</div>
		<div class="index_show_right_bg"></div>
		<div class="main_bottom">
			<ul>
				<li class="main_li active">
					首页
				</li>
				<li class="main_li main_li1">
					预约
				</li>
				<li class="main_li main_li2">
					<div class="main_home"></div>
				</li>
				<li class="main_li main_li3">
					<span class="xinxinum">3</span>
					信息
				</li>
				<li class="main_li main_li4">
					我
				</li>
			</ul>
		</div>
		<script src="../public/js/zepto.min.js"></script>
		<script src="../public/js/touch.js"></script>
		<script src="../public/js/zepto-fx.js"></script>
		<script src="../public/js/index/index.js"></script>		
	</body>
</html>
