body {
  font-family: microsoft yahei;
  margin: 0;
  padding: 0;
  background: #efeff4;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.login {
  width: 100%;
  margin: auto;
}
.login_top {
  background: #fff;
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-size: 22px;
  text-align: center;
}
.login_top .login_top_bg {
  float: left;
  background: url("../img/login/login_back.png") no-repeat 7px 11px;
  background-size: 12px 18px;
  width: 35px;
  height: 40px;
}
.login_title {
  color: #ea5404;
  margin-left: -35px;
  display: inline-block;
}
.login_title1 {
  color: #000;
  margin-left: -35px;
  display: inline-block;
}
.register_login {
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
  float: right;
}
