<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/user/agent_info.css"/>
	<title>编辑个人资料</title>
</head>
	<body>
		<div class="login_top">
			<a class="login_top_bg" href="javascript:0"></a>
			<div class="login_title1">个人资料</div>
		</div>
		<div class="agent_info_bottom">
			<div class="company company1">
				<span class="mycompany">头像</span>
				<span class="details details1 "></span>
			</div>
			<div class="company company1">
				<span class="mycompany">简介</span>
				<span class="details">以前喜欢一个人，现在喜欢一个人</span>
			</div>
			<div class="company company1">
				<span class="mycompany">所属公司</span>
				<span class="details">铺砌地产</span>
			</div>
			<div class="company company1">
				<span class="mycompany">联系方式</span>
				<span class="details">18956015463</span>
			</div>
			<div class="company company1">
				<span class="mycompany">擅长商圈</span>
				<span class="details">浦东-八佰伴</span>
			</div>
			<div class="agent_info_card">
				<div class="agent_info_li">
					<div class="agent_card_bg"></div>
					<p>名片正面</p>
				</div>
				<div class="agent_info_li">
					<div class="agent_card_bg"></div>
					<p>全国经纪人证书</p>
				</div>
				<div class="agent_info_li">
					
				</div>				
			</div>
		</div>
	</body>
</html>
