<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../public/css/login/login.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/user/information.css"/>
		<title>个人信息</title>
	</head>
	<body>		
		<div class="information_top">
			<div class="mine">我</div>
		</div>
		<div class="information_bottom">
			<div class="information_bottom_user">
				<i class="information_touxiang"></i>
				<span onclick="window.open('../login/index.html','_self')" class="information_username">点击登录/注册</span>				
			</div>
			<div class="information_info">
				<div class="information_cart"><span class="information_num">0</span><span>收藏</span></div>
				<div class="information_cart information_scores"><span class="information_num">0</span><span>积分</span></div>
			</div>
		</div>
		<div class="demand">我发布的需求</div>
		<div class="demand demand1">我发布的房源</div>
		<div class="demand demand2">我预约的房源</div>
		<div class="demand demand3">历史交易</div>
		<div class="demand demand4">过期房源</div>
	<div class="main_bottom">
			<ul>
				<li class="main_li">
					首页
				</li>
				<li class="main_li main_li1">
					预约
				</li>
				<li class="main_li main_li2">
					<div class="main_home"></div>
				</li>
				<li class="main_li main_li3">
					<span class="xinxinum">3</span>
					信息
				</li>
				<li onclick="window.open('user/information.html','_self')" class="main_li main_li4 active4">
					我
				</li>
			</ul>
		</div>
		<script src="../../public/js/information/information.js"></script>
	</body>
</html>
