<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/user/release.css"/>
	<title>我发布的需求</title>
</head>
	<body>
		<div class="login_top">
			<a class="login_top_bg" href="javascript:0"></a>
			<div class="login_title1">我发布的需求</div>
		</div>
		<div class="release">
			<div class="release_title">
				一个新的租房需求
				<span class="time">08/04/13:06</span>
			</div>
			<div class="release_more">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m³/天左右，附近有地铁
			</div>
			<button class='more'>了解详情</button>
		</div>
	</body>
</html>
