@import url(../header.css)
.login_bottom
	width 100%
.agent_header
	margin-left 10px
	height 30px
	line-height 30px
	color #bdbdbd
.agent_info
	width 100%
	text-align center
	background #fff
	padding-top 10px
	border-bottom 1px solid #e1e1e1
	.agent_touxiang
		display block
		margin auto
		width 75px
		height 75px
		line-height 75px
		border-radius 50%
		background #878787
		color #fff
	.underline
		width 50%
		height 1px
		background #e1e1e1
		margin 10px auto
	input
		width 230px
		height 30px
		line-height 30px
		border-radius 5px
		margin-bottom 5px
		background #efeff4
		border 1px solid #e1e1e1
		padding-left 10px
.agent_card
	width 120px
	height 70px
	line-height 70px
	margin 10px auto 
	background #878787
	border-radius 5px
	color #fff
.submit
	width 90%
	height 45px
	line-height 45px
	margin 20px 0 20px 5%
	background #ea5404
	outline none
	border none
	border-radius 5px
	color #fff
	font-size 22px
	
	