@import url("../header.css");
.release {
  background: url("../../img/information/content_list_border.9@2x.png") #fff no-repeat 0 40px;
  margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 2px 2px 5px 2px #ededf2;
  padding: 5px;
  box-sizing: border-box;
}
.release .release_title {
  height: 45px;
  line-height: 45px;
}
.release .release_title .time {
  float: right;
  font-size: 12px;
  color: #646464;
}
.release_more {
  font-size: 15px;
}
.more {
  width: 85px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #919193;
  border: none;
  border-radius: 5px;
  margin: 10px 35% 10px;
  outline: none;
}
