<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>appoint_index</title>
		<link rel="stylesheet" href="../public/css/appoint/appoint_index.css" />
	</head>
	<body>
		<div class="i_head">
			<span>预约</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_btn">接单</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">已接单，待反馈</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">已接单，待反馈</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">完成</span>
		</div>
		<div class="appo_index_bar">
			<div class="ind_bar_pic"></div>
			<div class="ind_bar_wor">
				<div class="ind_wor_name">
					<span class="wor_name">先生/女士您好：</span>
					<span class="wor_time">08/03/16:02</span>
				</div>
				<span class="wor_content">我想看【<span class="content_col">京德大楼</span>】的房源，请帮我安排，地址是常德路319号。</span><br/>
				<span class="wor_appo_time">看房时间：08/08</span>				
			</div>
			<span class="wor_state">完成</span>
		</div>
		<div class="main_bottom">
			<ul>
				<li class="main_li active">
					首页
				</li>
				<li class="main_li main_li1">
					预约
				</li>
				<li class="main_li main_li2">
					<div class="main_home"></div>
				</li>
				<li class="main_li main_li3">
					<span class="xinxinum">3</span>
					信息
				</li>
				<li class="main_li main_li4">
					我
				</li>
			</ul>
		</div>
	</body>
</html>
