<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/login/agent.css"/>
	<title>经纪人</title>
</head>
<body>
	<div class="login">
		<div class="login_top">
			<a class="login_top_bg" href="javascript:0"></a>
			<div class="login_title">经纪人</div>
		</div>
		<div class="login_bottom">
			<div class="agent_header">必须填</div>
			<div class="agent_info">
				<div class="agent_touxiang">
					添加头像
				</div>
				<p class="underline"></p>
				<input type="text" name="" id="" value="" placeholder="姓名"/>
				<input type="text" name="" id="" value="" placeholder="所属公司"/>
				<input type="text" name="" id="" value="" placeholder="联系方式"/>
				<input type="text" name="" id="" value="" placeholder="擅长商圈"/>
				<div class="agent_card">名片正面</div>
			</div>	
			<div class="agent_header">选填项</div>
			<div class="agent_info">
				<div class="agent_certificate agent_card">全国经济人证书</div>
			</div>
			
			<input class="submit" type="submit" name="" id="" value="完成" placeholder="完成" />
			
		</div>
	</div>
	
	<script src='../public/js/login/login.js'></script>
</body>
</html>