<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../public/css/login/login.css"/>	
	<title>登录</title>
</head>
<body>
	<div class="login">
		<div class="login_top">
			<a class="login_top_bg" onclick="window.open('../user/information.html','_self')" href="javascript:0"></a>
			<div class="login_title">登录</div>
			<div class="login_bottom">
				<div class="login_user">
					<span>账号：</span>
					<div><input type="text" id='text1'placeholder="请输入您的手机号" /></div>	
				</div> 
				<div class="login_user login_pwd">
					<span>密码：</span>
					<div><input type="password" id='pwd1' placeholder="请输入账号密码"/></div>
				</div>
				<input type="button" class="btn1" value="登录"/>
				<a href="javascript:0" onclick="window.open('register.html','_self')" class="register">注册</a>
				<a href="javascript:0" onclick="window.open('forgetpwd.html','_self')" class="register forgetpwd">忘记密码?</a>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>
	<script src="../public/js/zepto.min.js"></script>
	<script src="../public/js/touch.js"></script>
 	<script src="../public/js/zepto-fx.js"></script>
	<script src='../public/js/login/login.js'></script>
</body>
</html>