body
	margin 0
	padding 0
.search_top
	height 50px
	line-height 50px
	width 100%
	border-bottom 1px solid #d6d7dc
	padding 0 5%
	box-sizing border-box
	.search_search
		border none
		border-radius 5px
		display inline-block
		height 30px
		line-height 30px
		width 60%
		background url(../../img/index/nav_icon_search@2x.png) 10px center no-repeat,url(../../img/index/nav_icon_delete@2x.png) 93% center no-repeat #f1f1f1
		background-size 20px
		padding-left 40px
		outline none
		font-size 16px
	.search_top_cancle
		color #ea5404
		margin-left 10px
.search_li
	height 50px
	padding-left 20px
	position relative
	padding-top 8px
	box-sizing border-box
	&:after
		position absolute
		content ''
		height 1px
		bottom 0
		left 20px
		right 0
		background #d6d7dc
	.search_li_top
		.search_li_search
			color #ea5404
		span
			color #323232
	.search_li_bottom
		span
			color #727272
	