<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1 ,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../public/css/search/search.css"/>
		<title></title>
	</head>
	<body>
		<header class="search_top">
			<input class="search_search" type="text" name="" id="" value="" placeholder="挑好房，上活力矩阵"/>
			<span class="search_top_cancle">取消</span>
		</header>
		<div class="search_li">
			<div class="search_li_top"><span class="search_li_search">地铁</span><span>明珠苑</span></div>
			<div class="search_li_bottom"><span>崔建东路196弄</span></div>
		</div>
		<div class="search_li">
			<div class="search_li_top"><span>老西门</span><span class="search_li_search">地铁</span><span>站8/9号线</span>
			<div class="search_li_bottom"><span>金伟公寓</span></div>
		</div>
	</body>
</html>
