@import url("../header.css");
.about_bg {
  width: 100%;
  height: 215px;
  text-align: center;
}
.about_bg .about_bg_logo {
  margin: 22px auto 0;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  background: url("../../img/information/content_img_logo@2x.png") no-repeat;
  background-size: cover;
}
.about_bg .about_logo {
  display: inline-block;
  padding-left: 80px;
  background: url("../../img/information/content_text_logo@2x.png") no-repeat;
  background-size: 80px 30px;
  width: 70px;
  height: 30px;
  line-height: 20px;
  margin-top: 20px;
}
.set_demand {
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  padding-left: 10px;
}
.set_demand .set_jiantou {
  display: inline-block;
  float: right;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  background: url("../../img/information/in_right_icon@2x.png") no-repeat;
  background-size: contain;
}
.set_demand .set_jiantou1 {
  display: inline-block;
  float: right;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  background: url("../../img/information/in_right_icon@2x.png") no-repeat 120px 14px;
  background-size: 12px;
  color: #979797;
}
.login_out {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  background: #fff;
  text-align: center;
  border-botom: 1px solid #b2b2b2;
}
